<!DOCTYPE html>
<html>

  <head>
  <title>To be the Best</title>
    <link href="basketball.main.cs" rel="stylesheet">
    
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="basketball.main.css">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <div class="containers">
        <ul class="pull-left">
          <li>Mamadou's Site'</li>
        </ul>
        </div>
        <ul class="pull-right">
          <li><a href="#">Browse players</a></li>
          <li><a href="#">Log in </a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Contact Me</a></li>
        </ul>
        
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Find competition to play against.</h1>
        <p> Play over thousands of people and record your score to prove your the best in the city.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
    
    <div class="neighborhood-guides">
        <div class="container">
            <h2>Neighborhood Courts</h2>
            <p>Not sure where to play? Well still, come on down to one of these parks; We created these court guides for you to show off your ball skills.</p>
            <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="http://soulofamerica.com/soagalleries/nyc/historic-sites/NYC_Rucker_Basketball_Court.jpg">
                    <p>Rucker Park</p>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                    <img src="https://tse1.mm.bing.net/th?&id=HN.607993736701347875&w=300&h=300&c=0&pid=1.9&rs=0&p=0" height="450" width="450" >
                    <p>Venice Beach</p>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://api.ning.com/files/3inNVyMeyJEySN35UPGPI7bByA5bXCP-YJwbwU9frnRRbxVvpCQvg-GTjKm1rOdTkgn1GpMOujT8qvBsIdY-D*SjKQbCAlJh/Famous_New_York_Streetball_Court.png?width=737&height=489">
                        <p>Tri-State Park</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="learn-more">
	  <div class="container">
		<div class="row">
	      
	      <div class="col-md-4">
			<h3>Find a player</h3>
			<p>Just simply challege a player of your choice and pick a court and arrange a date. Its as simple as that.</p>
			<p><a href="#">Challenge your friend</a></p>
	      </div>
	      
		  <div class="col-md-4">
			<h3>Play</h3>
			<p>Play your heart out and leave blood, sweat, and tears on the court.</p>
			<p><a href="#">Practice drills</a></p>
		  </div>
		  
		  <div class="col-md-4">
			<h3>Record the play</h3>
			<p>To the Loser: Dont be a sore loser, better you're game to make sure you win next time <br><br>To the Winner: record the win in your gamebook.</p>
			<p><a href="#">Check out your personal gamebook</a></p>
		  </div>
		  
	    </div>
	  </div>
	</div>
  </body>
</html>